body {
    background-color: #005da4;
}

.quiz-container {
    background-color: #bdd2e2;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.quiz-card {
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 1rem;
    margin-bottom: 1rem;
}

.quiz-card.active {
    background-color: #6dc0d5;
}

.quiz-card.inactive {
    background-color: #e5e9ee;
}
